# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.
**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular Data Science tools

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C
4. C++
5. SQL
6. Julia
7. Scala
8. Java
9. Matlab

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Plotly
4. Seaborn
5. TensorFlow
6. Keras
7. PyTorch
8. SciPy
9. Apache Spark

| Data Science Tools|
| ------ |
|Jupyter Notebook|
|R Studio|
|Google Colab|
|VS Code|
|Apache Zeppelin|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:
1. 1*3
2. 50+25
3. 1-10

In [16]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Taisiia Berestok